<div class="container my-5">
    <div *ngIf="!hasMedia" class="text-center">
       <h2 class="font-weight-bold">{{ channel.name }}</h2>
       <button class="btn btn-primary my-3" (click)="connect()">Join Room</button>

       <div class="text-left py-4">
           <span class="font-weight-bold">Members:</span>
            <ul>
                <li *ngFor="let member of channel.members">
                    {{ member.user.first_name }} {{ member.user.last_name }}
                </li>
            </ul>
       </div>
    </div>
    
    <div #sc class="st-container d-flex">
    </div>

    <div 
        *ngIf="hasMedia"
        class="st-controls position-fixed w-100 p-3 text-center" 
        [style.left]="0"
        [style.bottom]="0">
        <button 
            class="btn mx-2" 
            [ngClass]="{
            'btn-primary': controls.audio,
            'btn-danger': !controls.audio
            }"
            (click)="handleAudioToggle()">
            <fa-icon [icon]="controls.audio ? faMicrophone:faMicrophoneSlash"></fa-icon>
        </button>
        <button class="btn mx-2"
            [ngClass]="{
            'btn-primary': controls.video,
            'btn-danger': !controls.video
            }"
            (click)="handleVideoToggle()">
            <fa-icon [icon]="controls.video ? faVideo:faVideoSlash"></fa-icon>
        </button>
        <button class="btn mx-2 btn-danger" (click)="hangUp()">
            <fa-icon [icon]="faPhoneSlash"></fa-icon>
        </button>
    </div>
</div>